# Ignore Terraform state files
*.tfstate
*.tfstate.backup

# Ignore Terraform lock files
.terraform.lock.hcl

# Ignore Terraform provider binaries
.terraform/

# Ignore logs and temporary files
*.log
*.tmp